@keyframes cambiar{
    0%{margin-top: -35px;}
    20%{margin-top: -35px;}
    
    25%{margin-top: -205px;}
    50%{margin-top: -205px;}

    55%{margin-top: -379px;}
    80%{margin-top: -379px;}

    85%{margin-top: -205px;}
    95%{margin-top: -205px;}

    100%{margin-top: -35px;}
}
