
.imgPortfolio{
    width: 200px;
    height: (200px + (4*5));
    border-radius: 5px;
    margin: 0.2rem;
}

.o{
    background-color: $primario;
    border: 0px;
}

.cont{
    display: flex;
}

.marca{
    margin-top: 60px;
    color: $secundario;
    font-size: 1.5rem;
    text-align: center;
}
.fondo{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    overflow-x: scroll;
}

.imgFondo{
    margin: 0.2rem;
    border-radius: 5px;
    width: 200px;
    height: (200px + (9*16));
}
