.bodyServicios{
    background-color: $secundario;
}

.navServicios{
    background-color: $secundario;
    padding-bottom: 20px;

    &__a{
        @extend .nav__a;
        color: $primario;
        // color: $primario;
        // font-size: large;
        // letter-spacing: 0.1rem;
        // text-decoration: none;
        // padding: 0.5rem;
    }
    &__a:hover{
        color: white;
        text-decoration: underline;
    }

}

.card{
    background-color: $primario;

    &__text{
        align-items: flex-end;
    }
}    

.label{
    color: $primario;

    & input {
        margin: 15px;
    }
}
